body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(246, 247, 242);
}
h1 {
  font-weight: 900;
}
.wrapper {
  background-image: url("/assets/images/background.avif");
  background-size: cover;
  padding-bottom: 200px;
}
.mainNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
}

.navBarList {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0;
}
.navBarList li {
  list-style: none;
}
.navBarList li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 900;
}
.navBarList li a:hover {
  color: rgba(0, 0, 0, 0.719);
}
.about {
  display: flex;
  align-items: center;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
  padding: 100px;
}
h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
}
.leftContainer p {
  font-size: 1rem;
  line-height: 2rem;
  font-family: cursive;
  text-align: center;
}

.rightContainer img {
  width: 600px;
  margin-right: 100px;
  border-radius: 50%;
}
.myWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(219, 219, 213, 0.678);
  height: 100%;
}

.workTitle {
  text-align: center;
  font-size: 3rem;
  color: rgb(53, 38, 0);
  padding: 0 0 30px 0;
  margin-top: 20px;
}
.containerWork h3 {
  font-size: 1.3rem;
  text-align: center;
}
.containerWork img {
  max-width: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.containerLgCard {
  display: flex;
}

.containerLgCard img {
  width: 950px;
  height: 700px;
  object-fit: cover;
  margin: 0;
}
.containerLgCard h3 {
  margin: 25px 0;
  font-size: 1.5rem;
}
/* .glamping {
  
} */
.glampIcons img {
  width: 50px;
  height: 55px;
}
.glampIcons img:hover {
  width: 55px;
  height: 60px;
}
.roles {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.roles h4 {
  width: 940px;
  padding-left: 25px;
  font-size: 1rem;
  font-weight: 200;
  margin: 5px;
}
.glampIcons {
  display: flex;
  justify-content: space-around;
  height: 50px;
  margin-top: 15px;
}
.glampIcons img span {
  font-weight: 600;
  font-size: 1.5rem;
}
span {
  font-size: 1.5rem;
  font-weight: 600;
}

/* Small cards top row  */
.top-cards {
  display: flex;
}

.containerSmCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 600px;
}
.smCard {
  align-items: center;
  width: 600px;
  margin: 75px;
  padding: 25px;
  border-radius: 10px;
  background-color: rgba(219, 219, 213, 0.247);
  border: 0px solid rgba(219, 219, 213, 0.678);
  box-shadow: 0 0 10px rgb(172, 172, 164);
}
.smCard img {
  width: 500px;
  margin-bottom: 35px;
  border-radius: 10px;
}
.smCard h3 {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.smCard h4 {
  font-size: 0.8rem;
  margin: 10px 0;
  width: 550px;
}
.smCard span {
  font-size: 1rem;
}
.smCard .glampIcons {
  display: flex;
  flex-direction: column;
  height: 55px;
}
.sm_icons {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-left: 0;
}
.glampIcons img {
  width: 40px;
  margin: 0px;
}
.glampIcons img:hover {
  width: 45px;
}
.weather-card .main-img {
  height: 292px;
}

.bottom-cards {
  display: flex;
  justify-content: space-evenly;
}
.employeeCard {
  height: 562px;
}
.workDay {
  height: 562px;
}
img.wds {
  height: 282px;
}

/* Contact info  */
.contact {
  text-align: center;
}
.contactForm h5 {
  margin-top: 35px;
  font-size: 2rem;
  font-weight: 900;
}
.contactForm p {
  font-weight: 900;
  margin-bottom: 25px;
}
.contactForm input {
  border: none;
  background-color: rgb(219, 219, 213);
  border-radius: 30px;
  padding: 10px;
  margin: 15px;
}
.contactForm .submit-btn {
  width: 630px;
  background-color: rgba(13, 130, 136, 0.788);
  color: white;
  margin-bottom: 90px;
}
.contactIcons {
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
  position: relative;
  bottom: 50px;
}
.contactIcons img {
  width: 150px;
  padding: 25px;
  background-color: rgb(19, 148, 155);
  border-radius: 50%;
}
.contactCard {
  display: flex;
  flex-direction: column;
  width: 230px;
  align-items: center;
  margin: 0 35px;
  height: 250px;
  justify-content: space-between;
  margin-bottom: 50px;
}
.contact-wrapper {
  background-color: rgb(219, 219, 213);
  position: relative;
  bottom: 80px;
  display: flex;
  margin: auto;
  height: 225px;
  width: 900px;
  margin-top: 120px;
  border-radius: 10px;
}

.lowerContactSection {
  background-color: rgb(19, 148, 155);
}
.outerWrapper {
  background-color: rgba(13, 130, 136, 0.788);
  height: 300px;
}

@media screen and (max-width: 1380px) {
  .top-cards {
    flex-wrap: wrap;
  }
  .weather-card {
    margin: 75px auto 0 auto;
  }
  .employeeCard {
    margin: 37px 0;
  }
  .bottom-cards {
    flex-wrap: wrap;
  }
  .workDay {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1394px) {
  .rightContainer img {
    width: 400px;
    margin: 0;
  }
  .about {
    align-items: flex-start;
  }
  .leftContainer {
    align-items: flex-start;
    margin: 0;
  }
  .leftContainer h2 {
    font-size: 1.5rem;
    text-align: start;
  }
  .leftContainer p {
    font-size: 0.8rem;
    text-align: start;
  }
}
@media screen and (max-width: 1000px) {
  .wrapper {
    padding: 25px;
  }
  .navBarList {
    width: 400px;
  }
  .navBarList li a {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 900;
  }
  .leftContainer {
    padding: 100px 0 0 0;
  }
  .rightContainer {
    padding-right: 10px;
  }
  .glamping {
    width: 600px;
  }
  .workTitle {
    font-size: 2rem;
    padding: 20px 0 10px 0;
  }
  .containerLgCard img {
    object-fit: contain;
    height: 300px;
  }
  .roles h4 {
    width: 596px;
  }
  .contactIcons {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    height: 700px;
  }
  .contact-wrapper {
    width: 400px;
    height: 100%;
  }
  .outerWrapper {
    height: 100%;
  }
}
@media screen and (max-width: 760px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
  .mainNav {
    flex-direction: column;
  }
  .contactForm .submit-btn {
    width: 300px;
  }
  .contactInfo {
    display: flex;
    flex-direction: column;
    width: 330px;
    margin: auto;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 640px) {
  .smCard {
    width: 360px;
  }
  .smCard img {
    width: 320px;
    object-fit: contain;
    max-height: 200px;
  }

  .smCard h4 {
    width: 300px;
  }
  .sm_icons {
    width: 300px;
  }
  .sm_icons img {
    width: 25px;
  }
  .glamping {
    width: 350px;
    margin: 0;
  }
  .glamping h3 {
    font-size: 1.2rem;
    margin: 0 0 25px 0;
  }
  .glamping h4 {
    font-size: 0.8rem;
    width: 325px;
  }
  .glampIcons img {
    width: 25px;
  }
  .contact-wrapper {
    width: 300px;
  }
}
@media screen and (max-width: 428px) {
  .mainNav {
    justify-content: center;
  }
  .navBarList {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .navBarList li {
    margin-top: 10px;
  }
  .leftContainer {
    padding-top: 70px;
  }
}
